<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/profile.css" /> 
    </head>
    <body>

        <div id="wrapper" ng-init="getUser()">

            <!-- Navigation -->
           
         	<ul id="shadovfromright" class="nav navbar-nav side-nav"
			style="margin-top: 15px; width: 300px;">


			<li style="width: inherit; cursor: pointer;"><a
				style="width: inherit;" ng-click="home()"><i
					class="fa fa-fw fa-home" id="iconscollor"></i> Home</a></li>
			
		
			<li style="width: inherit; cursor: pointer"><a
				style="width: inherit;" ng-click="tips()"><i
					class="fa fa-fw fa-list" id="iconscollor"></i> Tips Pet Care</a></li>
		</ul>
           
           
          <nav id="boxforComments"
			class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div id="boxheader" class="navbar-header"
				style="padding-top: 14px; padding-left: 50px; padding-bottom: 20px;">


				<img alt="" src="images/LogoWEB_PAGE.png" height="30" width="89">

			</div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                  
                    <li class="dropdown">
                        <a  data-toggle="dropdown" style="cursor:pointer" ng-click="logout()"><i class="glyphicon glyphicon-log-out" style="cursor:pointer"></i> Log out</a>  
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse " id="slidbaronRight" >
                 
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid" >

                    <!-- Page Heading -->

                    <div class="row" styles="">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row kiko" style="margin-left:60px">
                                <br>
                                <div class="row" style="padding-top:100px">
                                    <div class="col-lg-2">
                                        <img class="img-responsive" ng-src="images/users/{{user.profileImage }}" width="150" height="150" alt="">  
                                    </div>
                                    <div class="col-lg-9  user_information_div   " align="bottom" >
                                        <h2>{{user.firstName}} {{user.lastName}}</h2>
                                      <!--   <button class="btn btn-primary  btn_edit_profile_picture " type="button" onclick=""  ><i class="fa fa-2x fa-edit"></i> Edit Profile</button>
                                    </div>-->
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>



                    <div class="row" ">
                        <div class="col-lg-8">

                            <!-- *****************************CUSTUM**ITEM*******************************************-->

                       
						<div class="row headerforcomments"
							ng-repeat="post in comments | reverse"
							style="margin-left: 100px; padding-top: 0px; padding-left: 14px; padding-right: 14px;">

							<div class="row">

								<div class="row " ng-class="post.type"></div>


								<div id="footer_post" class="row" style="margin-left: 1px">

									<ul class="list-inline"
										style="margin-left: 13px; display: flex;">


										<li><img ng-src="images/users/{{post.pet.profileImage}}"
											class="img-responsive" width="80" height="80" alt="" style="">


										</li>


										<li style="padding-bottom: 10px;" align="top">
											<h4 id="style_name" style="font-size: 20px; margin-top: 0px;">{{post.pet.firstName}}
												{{post.pet.lastName}}</h4>

											<ul class="list-inline" style="margin-bottom: 0px;">
												<li><i class="fa fa-clock-o" style="color: #FF0000"></i><span
													style="color: #A3C2C2">
														{{convertTimestampToDate(post.time_post)}}</span></li>
												<li><i class="fa fa-phone" style="color: #99CCFF"
													ng-if="post.contact_phone"> </i><span
													style="color: #A3C2C2"> {{post.contact_phone}} </span></li>
											</ul> <i class="fa fa-map-marker" style="color: #FFCC00;"
											id="stile_location" ng-if="post.address"> </i> <span
											style="color: #A3C2C2"> {{post.address}} </span>





										</li>

									</ul>


									<hr
										style="margin-left: 20px; margin-right: 34px; margin-top: 0px; margin-bottom: 0px;">




									<div id="style_img_and_comment" class="row "
										style="margin-top: 8px;">
										
										<div class="col-lg-12" align="justify"
											style="padding-right: 0px;">{{post.message}}</div>
										<br> <br>

										<div class="col-ld-12" ng-if="post.image_comment"
											align="center" style="margin-top: 10px; margin-left: 14px;">
											<img ng-src="images/posts/{{post.image_comment}}"
												class="img-responsive " alt="" style="">

										</div>

									</div>

									<hr
										style="margin-left: 20px; margin-right: 34px; margin-top: 0px; margin-bottom: 0px;">


									<div class="row">
										<div class="col-lg-12 "
											style="padding-left: 20px; padding-right: 28px;">

											<br> <i id="post-{{$index}}"
											
												style="background: transparent; border: none; color: #e74c3c; font-size: 32px; padding: 0px; margin-left: 20px; cursor: pointer"
												class="fa fa-heart"></i> <span>
												{{comments[comments.length - 1 - $index].likes}} </span> 
												

										</div>
									</div>



								</div>
							


								<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->










								<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->






							</div>
						</div>
                            <!-- *****************************CUSTUM**ITEM*******************************************-->
                            

									
										
									
                            


                        </div>
                        <div class="col-lg-4"  >
                            <div class="row headerforcomments">
                                <h3>Activitis :</h3>

                                <div class="row  activitysOnprofile" style=" ">
                                    <div class="col-sm-2 col-md-2 col-lg-2 ">
                                        <i style="color: #31b0d5;" class="fa fa-2x fa-comment"></i>
                                    </div>
                                    <div class="col-sm-1 col-md-1  col-lg-1" style="padding-top: 6px;">
                                        {{commentsNo}}
                                    </div>
                                    <div class="col-sm-5 col-md-5  col-lg-5" style="padding-top: 6px;">
                                        Comments
                                    </div>
                                </div>


                                <div class="row activitysOnprofile">
                                    <div class="col-lg-2">
                                        <i style="color: #c7254e;" class="fa fa-2x fa-camera"></i>
                                    </div>
                                    <div class="col-lg-1" style="padding-top: 6px;">
                                        {{pictureNo}}
                                    </div>
                                    <div class="col-lg-5" style="padding-top: 6px;">
                                        Photos
                                    </div>
                                </div>


                                <div class="row activitysOnprofile">
                                    <div class="col-lg-2">
                                        <i style="color: #f0ad4e;" class="fa fa-2x fa-location-arrow"></i>
                                    </div>
                                    <div class="col-lg-1" style="padding-top: 6px;">
                                        {{locationNo}}
                                    </div>
                                    <div class="col-lg-5" style="padding-top: 6px;">
                                        Check ins 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </body>
</html>
