#loginbe{
	    background-image: url(../images/PolyGenPattern_287201511058.png);
	    background-size: cover; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;          

}

.boxForComments{
		    background-image: url(../images/PolyGenPattern_287201511058.png);
	
	background-size: cover; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
}

